Create a python file or notebook called assignment_6_Weather (.py or .ipynb)

Get the data from this link.

https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv

In [79]:
# Import the libraries we will need for this assignment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [80]:
# Load the data, skipping first 23 rows of .csv which are not rows of data for analysis.
df = pd.read_csv('https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv', skiprows=23)

C:\Users\fdennehy\AppData\Local\Temp\ipykernel_4468\3248177291.py:2: DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv', skiprows=23)

DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.\
The warning above inidcates some columns have mixed types of data. On closer inspection, there appears to be a lot of ' ' strings contained within the data.\
Replace these with '' using regular expressions functions within pandas.

In [81]:
df

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248389,30-nov-2024 20:00,0,0.0,0,11.6,0,10.9,10.3,12.5,91,...,2,17,2,200,,,0.0,,0,8
248390,30-nov-2024 21:00,0,0.0,0,11.4,0,10.7,10.0,12.3,91,...,2,16,2,200,,,0.0,,0,8
248391,30-nov-2024 22:00,0,0.0,0,10.9,0,10.3,9.7,12.0,92,...,2,15,2,210,,,0.0,,0,8
248392,30-nov-2024 23:00,0,0.0,0,10.8,0,10.3,9.9,12.1,94,...,2,14,2,190,,,0.0,,0,8
248393,01-dec-2024 00:00,0,0.8,0,0.0,0,0.0,0.0,6.1,100,...,2,12,2,190,,,0.0,,0,8

In [ ]:
# Replace ' ' strings with NaN and check the results
df = df.replace(' ',np.nan)
pd.isna(df)

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248389,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,False,False
248390,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,False,False
248391,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,False,False
248392,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,False,False
248393,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,False,False

:

In [ ]:
# Drop the rows with NaN values
df = df.dropna()

In [78]:
df

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248379,30-nov-2024 10:00,0,0.0,0,10.6,0,10.5,10.4,12.6,99,...,2,10,2,140,2,11,0.0,20000,8,8
248380,30-nov-2024 11:00,2,0.0,0,11.8,0,11.4,11.0,13.2,95,...,2,11,2,160,50,52,0.0,12000,8,8
248381,30-nov-2024 12:00,2,0.0,0,12.1,0,11.9,11.7,13.8,98,...,2,15,2,160,20,52,0.0,20000,7,7
248382,30-nov-2024 13:00,0,0.0,0,12.8,0,12.2,11.7,13.7,93,...,2,15,2,160,2,11,0.0,25000,12,8
248383,30-nov-2024 14:00,0,0.0,0,13.4,0,12.3,11.3,13.4,87,...,2,18,2,170,2,11,0.0,30000,15,7

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248394 entries, 0 to 248393
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  248394 non-null  int64
 1   date        248394 non-null  object
 2   ind         248394 non-null  int64
 3   rain        248345 non-null  float64
 4   ind.1       248394 non-null  int64
 5   temp        248394 non-null  float64
 6   ind.2       248394 non-null  int64
 7   wetb        248394 non-null  float64
 8   dewpt       248394 non-null  float64
 9   vappr       248394 non-null  float64
 10  rhum        248394 non-null  int64
 11  msl         248376 non-null  float64
 12  ind.3       248394 non-null  int64
 13  wdsp        248344 non-null  float64
 14  ind.4       248394 non-null  int64
 15  wddir       248342 non-null  float64
 16  ww          192908 non-null  float64
 17  w           192907 non-null  float64
 18  sun         248394 non-null  float64
 19  vis         185813 non-null  float64
 20  clht        248376 non-null  float64
 21  clamt       248376 non-null  float64
dtypes: float64(14), int64(7), object(1)
memory usage: 41.7+ MB